
footer {
    display: flex;
    flex-direction:row !important;
    border: 0;
    box-shadow: 0px 2px 12px 12px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0px 2px 12px 12px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0px 2px 12px 12px rgba(0,0,0,0.1) inset;
    margin: 10px 0px !important;
    padding: 20px;
    background-color: #00afef80 !important;
    align-items: center;
}

ul {
display: flex;
flex-direction:row !important;
justify-content: space-evenly !important;
margin:0;


}

.btn-right {
    display: flex;
    align-self: flex-end;
    border-radius: 10px;
    border:0;
}
 i {
    color: #fff;
    font-size: 20px;
    
}
i:hover {
    color: #0d0847;
}
