<div class="card mat-card">
  <div id="education">
    <div class="card-titles">
      <h2>Habilidades</h2>
      <div class="btn-edit">
        <a href="#" class="btn-right">
          <i
            class="fa fa-plus"
            *ngIf="ulogged != ''"
            (click)="abrirFormulario(habilidadModal)"
          ></i
        ></a>
      </div>
    </div>
  </div>

  <!-------LISTA DE CAMPOS COMPLETOS-------->

  <div class="col-lg-12 card card-body">
    <ul>
      <li class="Proyectos" *ngFor="let habilidades of listHabilidades">
        <div class="Proyect col-lg-12">
          <circle-progress
            class="circlePerogress"
            [title]="habilidades.porcentaje"
            [subtitle]="habilidades.tituloHabilidad"
            [percent]="habilidades.porcentaje"
            [radius]="50"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#00BFFF'"
            [innerStrokeColor]="'#00008B'"
            [animation]="true"
            [animationDuration]="600"
          >
          </circle-progress>

          <!-----------ICONOS EDITAR Y BORRAR----------------->

          <div class="iconExp col-lg-1">
            <i
              (click)="editarHabilidad(habilidades, habilidadModal)"
              class="pencil fa-solid fa-pencil text-info"
              *ngIf="ulogged != ''"
            ></i>

            <i
              (click)="borrarHabilidad(habilidades.id)"
              class="trash fa-solid fa-trash text-danger"
              *ngIf="ulogged != ''"
            ></i>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!---FORMULARIO MODAL-->

<ng-template #habilidadModal let-modal class="formularioExperiencia">
  <div class="modal-header">
    <h6 class="modal-title">{{ accion | uppercase }} Habilidad</h6>
    <!------ICONO CERRAR------------>
    <button
      type="button"
      *ngIf="ulogged != ''"
      (click)="modal.dismiss()"
      class="btn close"
      aria-label="close"
    >
      <span>&times;</span>
    </button>
  </div>

  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="guardarHabilidad()">
            <!------------ IMPUT Porcentaje------------>

            <div class="input-group mb-3">
              <span class="input-group-text imput-group-lg-">
                <i
                  class="fa-solid fa-graduation-cap"
                  [class.green-icon]="this.form.get('porcentaje')?.valid"
                  [class.red-icon]="
                    this.form.get('porcentaje')?.invalid &&
                    this.form.get('porcentaje')?.touched
                  "
                >
                </i>
              </span>
              <input
                formControlName="porcentaje"
                type="text"
                class="form-control"
                placeholder="Porcentaje de Aprendizaje"
              />
            </div>

            <!---------IMPUT tituloHabilidad-------->

            <div class="input-group mb-3">
              <span class="input-group-text imput-group-lg-">
                <i
                  class="fa-solid fa-award"
                  [class.green-icon]="this.form.get('tituloHabilidad')?.valid"
                  [class.red-icon]="
                    this.form.get('tituloHabilidad')?.invalid &&
                    this.form.get('tituloHabilidad')?.touched
                  "
                >
                </i>
              </span>
              <input
                formControlName="tituloHabilidad"
                type="url"
                class="form-control"
                placeholder="Titulo Habilidad"
              />
            </div>

            <!------------Boton submit------->
            <div class="d-grid gap-2">
              <button
                [disabled]="this.form.invalid"
                type="submit"
                class="btn btn-success btn-lg"
              >
                <i class="fa-solid fa-database"></i> &nbsp; Aceptar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
