<!---NAV BAR-->
<body>
    <nav  class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
      <a class="navbar-brand" href="../../../assets/img/ap.png"></a>
      
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light">
              <i class="grey-text fab fa-facebook-square fa-2x"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light">
              <i class="grey-text fab fa-instagram fa-2x"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light">
              <i class="grey-text fab fa-twitter fa-2x"></i>
            </a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
          
        </form>
      </div>
    </nav>
    




<!---BANNER-->
<div class="card mat-card" id="first-card">
    <div id="profile-background"><img id="info-back-img" src="../../../assets/img/banner7.jpg"></div>
    <div id="info" style="padding: 16px">
      <div id="info-img">
        <img id="info-user-img" class="profile-image" src="../../../assets/img/avatar1.jpg">
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen" onclick="showEditProfileModal()"></i></a></div>
      </div>
      <div id="info-data">
        <div>
          <h1 id="info-name">Rodrigo Amoedo Cigarreta</h1>
          <div><span id="info-position">Full Stack Junior</span></div>
          <div id="info-contact">
            <span id="info-ubication"> Maipú Buenos Aires (Argentina) </span>
            
          </div>
        </div>
        <ul id="info-details">
          
          <li><a href="#">
            
            <h2 id="info-school-name">Full Stack Junior</h2>
          </a></li>
        </ul>
      </div>
      <div id="info-actions">
        <button type="button" class="btn btn-primary">Tengo interés en</button>
        <button type="button" class="btn btn-light">Más</button>
      </div>
    </div>
</div>